torch >= 2.0.0
lightning >= 2.0.0
jsonargparse[signatures] # for CLI

transformers
retriv

scikit-learn
pytorch-metric-learning
py_stringmatching

nlpaug
nltk

### required by other baselines and benchmarking
# DeepBlocker
fasttext
torchtext
# BlockingWorkflows
pyjnius
# Lucene
pyserini
# Faiss
faiss-cpu
# Timing
codetiming

### dev tools
shtab
jupyterlab
seaborn
ray[tune]
wandb
